<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input type="text" class="form-control" #serverName>
      <label>Server Content</label>
      <input type="text" class="form-control" #serverContent>
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer(serverName)" 
        >Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverName)" 
        >Add Server Blueprint</button>
        <!-- <button
        class="btn btn-primary"
        (click)="onAddServer()" 
        [disabled]="newServerName.length===0 || newServerContent.length===0">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint()" 
        [disabled]="newServerName.length===0 || newServerContent.length===0">Add Server Blueprint</button> -->
    </div>
  </div>
